body {
  text-align: center;
}
.btn {
  text-decoration: none;
  display: inline-flex;
  padding: 15px 30px;
  overflow: hidden;
  border: 2px solid;
  border-bottom-width: 4px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(35, 44, 85);
  background: rgba(255, 255, 255, 1);
  transition: color 0.3s, background 0.5s;
  cursor: pointer;
}
.btn:hover {
  animation: stripes 0.75s infinite linear;
  background: linear-gradient(
    45deg,
    rgba(30, 255, 188, 1) 25%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 50%,
    rgba(30, 255, 188, 1) 50%,
    rgba(30, 255, 188, 1) 75%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1)
  );
  background-size: 10px 10px;
  color: #ff50e5;
}
@keyframes stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}
